
@media only screen and (max-width: 997px){
    header .container .header_top .store, .log_in, .sign_up, header .container .header_top form{
        width: 160px;
    }
    header .container .header_top{
        flex-flow: wrap;
        align-items: center;
    }
    header .container .header_menu ul {
        align-items: center;
        flex-flow: wrap;
        justify-content: center;
    }

}
@media only screen and (max-width: 768px) {
    .bar_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .bar_wrapper span:checked{


    }
    header .container .header_top {

        justify-content: center;
    }

    header .container .header_top .store,
    .log_in, .sign_up, header .container .header_top form,footer .container .footer_top form input,footer .container .footer_top form button {
        margin: 5px;
        width: 100%;
    }

    header .container .header_menu {
        flex-flow: column;
        align-items: center;
        text-align: center;

    }
    .sign_up{
        order: 2;

    }
    .log_in{
        order: 3;
    }
    .store{
        order: 4;
    }
    .header_top form{

        order: 5;
    }
    .header_menu nav ul{
        display: none;
    }

    header .container .header_top .logo img{
        display: none;
}
    .footer_top form{
        flex-wrap: wrap;
    }
    .footer_content .container {
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
    }

}
@media only screen and (max-width: 414px) {
        header .container .header_top, header .container .header_menu {
        flex-wrap: wrap;
        align-content: center;
        text-align: center;
    }
}
@media only screen and (max-width: 375px)
{
    header .container .header_top, .header_menu nav ul, header .container .header_menu {
        flex-direction: column;
        max-width: none;
        align-content: center;
        text-align: center;
    }
}






